<h1>Library Albums</h1>
<%= form_for :query_options, url: library_albums_path, method: :get do |f| %>
  Filter <%= f.select :filter, ['all', 'matched', 'unmatched', 'not digital'] %>
  <%= f.submit 'Show' %>
<% end %>
<br>
<%= @library_albums.pagination_record_count %> total<br><br>
<%= render partial: 'library_album', collection: @library_albums.all %>
<br>
<%= will_paginate @library_albums %>
