<h1>Library Album</h1>
<table>
  <tr>
    <td>Album</td>
    <td><%= @library_album.album %></td>
  </tr>
  <tr>
    <td>Artist</td>
    <td><%= link_to @library_album.albumartist, library_artist_path(name: @library_album.albumartist) %></td>
  </tr>
  <tr>
    <td>Track count</td>
    <td><%= @library_album.tracktotal %></td>
  </tr>
  <tr>
    <td>Date</td>
    <td><%= format_date @library_album %></td>
  </tr>
  <tr>
    <td>Type</td>
    <td><%= @library_album.albumtype %></td>
  </tr>
  <tr>
    <td>Label</td>
    <td><%= @library_album.label %></td>
  </tr>
  <tr>
    <td>Media</td>
    <td><%= @library_album.media %></td>
  </tr>
  <tr>
    <td>MusicBrainz</td>
    <td>
      <a href='http://musicbrainz.org/release-group/<%= @library_album.mb_releasegroupid %>' target='_blank'>Release group</a>
      <a href='http://musicbrainz.org/release/<%= @library_album.mb_albumid %>' target='_blank'>Release</a>
    </td>
  </tr>
  <tr>
    <td>Artist association</td>
    <td>None</td>
  </tr>
  <tr>
    <td>Group association</td>
    <td><%= @group.what_id || 'None' %></td>
  </tr>
</table>
<br>
<%= form_for :what_request, method: :get, url: @library_album do |f| %>
  <%= f.search_field :groupname, value: @what_request.try(:groupname) || @library_album.album %>
  <%= f.hidden_field :action, value: :browse %>
  <%= f.hidden_field 'filter_cat[1]', value: 1 %>
  <%= f.submit 'Search what.cd for torrents' %>
<% end %>

<% if @what_response.try(:results) %>
  <h2>what.cd Results</h2>
  <%= form_for @group do |f| %>
    <%= f.submit 'Associate selection with album' %>
    <%= f.hidden_field :what_results, value: @what_response.results_as_a_hash.to_json %>
    <%= f.hidden_field :library_album_id, value: @library_album.id %>
    <br><br>
    <%= render partial: 'what/torrent_group', locals: { f: f }, collection: @what_response.results, as: :torrent_group, spacer_template: 'shared/rule' %>
  <% end %>
  <br>
  <span>Pages:
  <% @what_response.pages.to_i.times do |p| %>
    <% page = p + 1 %>
    <% if @what_response.currentPage == page %>
      <%= page %>
    <% else %>
      <% @what_request.page = page %>
      <%= link_to page, library_album_path(@library_album, commit: true, what_request: @what_request.marshal_dump) %>
    <% end %>
  <% end %>
  </span>
<% end %>
