<h1>Library Album</h1>
<%= render partial: 'shared/library_album' %>
<h2>Items</h2>
<table>
  <th>Track</th>
  <th>Name</th>
  <th>Artist</th>
  <th>what.cd artist associations</th>
  <th>Group what.cd artist associations</th>
  <%= render partial: 'library_item', collection: @library_items %>
</table>

<% if @group.id %>
  <h1><%= link_to 'Associated Group', @group %></h1>
  <%= render partial: 'shared/group' %>
<% end %>

<hr>

<%= form_for :what_request, method: :get, url: @library_album do |f| %>
  <p>
  <%= f.label :groupname %>
  <%= f.search_field :groupname, value: @what_request.try(:groupname) || @library_album.album_only_letters %>
  </p>
  <p>
  <%= f.label :artistname %>
  <%= f.search_field :artistname, value: @what_request.try(:artistname) || @library_album.albumartist_only_letters %>
  </p>
  <%= f.submit 'Search what.cd for torrents' %>
<% end %>

<% if @what_response.try(:results) %>
  <h2>what.cd Results</h2>
  <%= form_for @group do |f| %>
    <%= f.submit 'Associate selection with album' %>
    <%= f.hidden_field :results, value: @what_response.results.to_json %>
    <%= f.hidden_field :library_album_id, value: @library_album.id %>
    <br><br>
    <%= render partial: 'what/torrent_group', locals: { f: f, library_album: @library_album }, collection: @sorted_groups, as: :torrent_group, spacer_template: 'shared/rule' %>
  <% end %>
  <br>
  <span>Pages:
  <% @what_response.pages.to_i.times do |p| %>
    <% page = p + 1 %>
    <% if @what_response.currentPage == page %>
      <%= page %>
    <% else %>
      <% @what_request.page = page %>
      <%= link_to page, library_album_path(@library_album, commit: true, what_request: @what_request.marshal_dump) %>
    <% end %>
  <% end %>
  </span>
<% end %>
