<h1>Library Album</h1>
<h2 class='inline'>Information </h2><%= link_to 'edit', edit_group_path(@group) if @group.id %>
<h3>MusicBrainz</h3>
<table>
  <tr>
    <td>Album</td>
    <td><%= @library_album.album %></td>
  </tr>
  <% if @library_album.albumdisambig.present? %>
    <tr>
      <td>Album disambiguation</td>
      <td><%= @library_album.albumdisambig %></td>
    </tr>
  <% end %>
  <tr>
    <td>Artist</td>
    <td><%= link_to @library_album.albumartist, library_artist_path(name: @library_album.albumartist) %></td>
  </tr>
  <tr>
    <td>Sort artist</td>
    <td><%= @library_album.albumartist_sort %></td>
  </tr>
  <tr>
    <td>Track count</td>
    <td><%= @library_album.tracktotal %></td>
  </tr>
  <tr>
    <td>Date</td>
    <td><%= format_date @library_album %></td>
  </tr>
  <tr>
    <td>Type</td>
    <td><%= @library_album.albumtype %></td>
  </tr>
  <tr>
    <td>Label</td>
    <td><%= @library_album.label %></td>
  </tr>
  <tr>
    <td>Media</td>
    <td><%= @library_album.media %></td>
  </tr>
  <tr>
    <td>Links</td>
    <td>
      <a href='http://musicbrainz.org/release-group/<%= @library_album.mb_releasegroupid %>' target='_blank'>Release group</a>
      <a href='http://musicbrainz.org/release/<%= @library_album.mb_albumid %>' target='_blank'>Release</a>
    </td>
  </tr>
</table>
<% if @group.whatcd_id %>
  <h3>what.cd</h3>
  <%= render partial: 'group' %>
<% end %>
<% if @group_artists %>
  <h3>Artists</h3>
  <%= render partial: 'group_artists' %>
<% end %>
<h2>Items</h2>
<table>
  <th>Track</th>
  <th>Name</th>
  <th>Artist</th>
  <th>what.cd artist associations</th>
  <th>Group what.cd artist associations</th>
  <%= render partial: 'library_item', collection: @library_items %>
</table>
<hr>
<%= form_for @group, url: groups_associate_whatcd_path, method: :post do |f| %>
  <p>
  <%= f.label :whatcd_id %>
  <%= f.text_field :whatcd_id %>
  <%= f.hidden_field :library_album_id, value: @library_album.id %>
  <%= f.submit 'Associate album with torrent group ID' %>
  </p>
<% end %>
<%= form_for :whatcd_request, method: :get, url: @library_album do |f| %>
  <p>
  <%= f.label :groupname %>
  <%= f.search_field :groupname, value: @whatcd_request.try(:groupname) || @library_album.album_only_letters %>
  <%= f.label :artistname %>
  <%= f.search_field :artistname, value: @whatcd_request.try(:artistname) || @library_album.albumartist_only_letters %>
  <%= f.submit 'Search what.cd for torrents' %>
  </p>
<% end %>

<% if @whatcd_response.try(:results) %>
  <h2>what.cd Results</h2>
  <%= form_for @group, url: groups_associate_whatcd_path, method: :post do |f| %>
    <%= f.submit 'Associate selection with album' %>
    <%= f.hidden_field :library_album_id, value: @library_album.id %>
    <br><br>
    <%= render partial: 'what/torrent_group', locals: { f: f, library_album: @library_album }, collection: @sorted_groups, as: :torrent_group, spacer_template: 'shared/rule' %>
  <% end %>
  <br>
  <span>Pages:
  <% @whatcd_response.pages.to_i.times do |p| %>
    <% page = p + 1 %>
    <% if @whatcd_response.currentPage == page %>
      <%= page %>
    <% else %>
      <% @whatcd_request.page = page %>
      <%= link_to page, library_album_path(@library_album, commit: true, whatcd_request: @whatcd_request.marshal_dump) %>
    <% end %>
  <% end %>
  </span>
<% end %>
