<!DOCTYPE html>
<html>
<head>
  <title>Dabster</title>
  <%= stylesheet_link_tag    'dabster/application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'dabster/application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= link_to 'Library Artists', library_artists_path %>
  <%= link_to 'Library Albums', library_albums_path %>
  <%= link_to 'Groups', groups_path %>
  <%= link_to 'Artist Library Item Relationships', artist_library_item_relationships_path %>
  <% if flash[:error] -%>
    <p class='error'>Error: <%=h flash[:error] %></p>
  <% end -%>
  <% if flash[:notice] -%>
    <p class='notice'>Notice: <%=h flash[:notice] %></p>
  <% end -%>

  <%= yield %>
</body>
</html>
