<tr>
  <td><a href='http://musicbrainz.org/recording/<%= library_item.mb_trackid %>' target='_blank'><%= library_item.track %></a></td>
  <td><%= link_to library_item.title, library_item %></td>
  <td><a href='http://musicbrainz.org/artist/<%= library_item.mb_artistid %>' target='_blank'><%= library_item.artist %></a></td>
  <td>
    <% library_item.artists_by(:type, group_artist: false).each do |type, artists| %>
      <%= type %>:
      <%= render partial: 'shared/artist', collection: artists %>
    <% end %>
  </td>
  <td>
    <% library_item.artists_by(:type, group_artist: true).each do |type, artists| %>
      <%= type %>:
      <%= render partial: 'shared/artist', collection: artists %>
    <% end %>
  </td>
</tr>
