<table>
  <tr>
    <td>Name</td>
    <td><%= torrent_group.name %></td>
  </tr>
  <tr>
    <td>Artist</td>
    <td><%= torrent_group.artist %></td>
  </tr>
  <tr>
    <td>Year</td>
    <td><%= torrent_group.year %></td>
  </tr>
  <tr>
    <td>Release type</td>
    <td><%= torrent_group.release_type %></td>
  </tr>
  <tr>
    <td>what.cd</td>
    <td>
      <a href='https://what.cd/torrents.php?id=<%= torrent_group.id %>' target='_blank'>Torrent group page</a>
    </td>
  </tr>
  <tr>
    <td>Artists</td>
    <td>
      <%= render partial: 'what/torrent_artist', collection: torrent_group.torrent_artists,
        as: :artist, spacer_template: 'shared/break' %>
    </td>
  </tr>
  <tr>
    <td>Overall similarity</td>
    <td><%= '%.2f' % torrent_group.similarity(artist: library_album.albumartist, name: library_album.album) %></td>
  </tr>
  <tr>
    <td>Associate with album</td>
    <td><%= f.radio_button :whatcd_id, torrent_group.id %></td>
  </tr>
</table>
