<h1>Edit Group</h1>
<h2>Metadata</h2>
<%= form_for @group do |f| %>
  <h3>what.cd</h3>
  <table>
    <tr>
      <td>Name</td>
      <td><%= @group.whatcd_name %></td>
    </tr>
    <tr>
      <td>Year</td>
      <td><%= @group.whatcd_year %></td>
    </tr>
    <tr>
      <td>Release type</td>
      <td><%= @group.whatcd_release_type %></td>
    </tr>
    <tr>
      <td>Confidence</td>
      <td><%= f.text_field :whatcd_confidence %></td>
    </tr>
    <tr>
      <td>Links</td>
      <td>
        <a href='https://what.cd/torrents.php?id=<%= @group.whatcd_id %>' target='_blank'>Torrent group</a>
      </td>
    </tr>
  </table>
  <h3>Artists</h3>
  <%= render partial: 'dabster/shared/group_artists' %>
  <p>
  <%= f.submit 'Update' %>&nbsp;<%= link_to 'Cancel', @group.library_album %>
  </p>
<% end %>
