<%= form_for :relationship, url: artist_library_item_relationships_path, method: :post do |f| %>
  <p>
  <%= f.hidden_field :library_item_id, value: library_item.id %>
  <%= f.hidden_field :artist_id, value: artist.id %>
  <%= f.hidden_field :type, value: type %>
  <%= link_to artist.whatcd_name, artist %>
  <%= f.submit 'Associate with item' %>
  </p>
<% end %>
