<%= form_for :relationship, url: artist_library_item_relationships_path, method: :delete do |f| %>
  <p>
  <%= f.hidden_field :library_item_id, value: library_item.id %>
  <%= f.hidden_field :artist_id, value: artist.id %>
  <%= f.hidden_field :type, value: type %>
  <%= artist.what_name %>
  <%= f.submit 'Remove from item', data: { confirm: 'Are you sure?' } %>
  </p>
<% end %>
