<!DOCTYPE html>
<html>
<head>
  <title>Dabster</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= link_to 'Library Artists', library_artists_path %>
  <%= link_to 'Library Albums', library_albums_path %>
  <% if flash[:error] -%>
    <p class='error'>Error: <%=h flash[:error] %></p>
  <% end -%>
  <% if flash[:notice] -%>
    <p class='notice'>Notice: <%=h flash[:notice] %></p>
  <% end -%>

  <%= yield %>
</body>
</html>
